*{
	padding: 0%;
	margin: 0%;
	box-sizing: border-box;
}

/*.father{
	width: 50%;
	height: 50%;
	border-style: solid;
    position: relative;
    border-width: 3px;
}*/

.one{
	width: 25%;
	height: 25%;
	background-color:darkred;
	position: absolute;
	left: 0;
	border-style: solid;
	border-width: 2px;
}

.one:hover{
	background-color:cyan ;
}

.two{
	width: 25%;
	height: 25%;
	background-color: rosybrown;
	left: 25%;
	position: absolute;
	border-style: solid;
	border-width: 2px;

}
.two:hover{
	background-color: white;
}

.three{
	width: 25%;
	height: 25%;
	background-color: blue;
	position: absolute;
	right: 25%;
	border-style: solid;
	border-width: 2px;


}

.three:hover{
	background-color: lightgreen;
}

.four{
	width: 25%;
	height: 25%;
	background-color: olive;
	position: absolute;
	right: 0;
	border-style: solid;
	border-width: 2px;

}
 .four:hover{
 	background-color: lightsalmon;
 }

.five{
	width: 33%;
	height: 25%;
	background-color: yellow;
	position: absolute;
	left: 0;
	border-style:solid ;
	border-width: 2px;
	margin-top: 155px;
}

 .five:hover{
 	background-color: lightsteelblue;
 }



.addfive{
	width: 250px;
	height: 80px;
	background-color:cyan ;
	position: absolute;
	margin: 35px 10px 10px 90px ;
	border-style: solid;
	border-width: 2px;
}

 .addfive:hover{
 	background-color: lightsalmon;
 }


.six{
	width: 33%;
	height: 25%;
	background-color: red;
	position: absolute;
	left: 33%;
	border-style:solid ;
	border-width: 2px;
	margin-top:155px;
}

 .six:hover{
 	background-color: black;
 }

.addsix{
	width: 250px;
	height: 80px;
	background-color:cyan ;
	position: absolute;
	margin: 35px 10px 10px 90px ;
	border-style: solid;
	border-width: 2px;
}
    
    .addsix:hover{
 	background-color: lightsalmon;
 }


.seven{
	width: 34%;
	height: 25%;
	background-color: magenta;
	position: absolute;
	right: 0;
	border-style:solid ;
	border-width: 2px;
	margin-top: 155px;
}

 .seven:hover{
 	background-color: green;
 }


.addseven{
	width: 250px;
	height: 80px;
	background-color:cyan ;
	position: absolute;
	margin: 35px 10px 10px 90px ;
	border-style: solid;
	border-width: 2px;
}

 .addseven:hover{
 	background-color: lightsalmon;
 }

.eight{
	width: 50%;
	height: 25%;
	background-color: darkmagenta;
	position: absolute;
	left: 0;
	border-style: solid;
	border-width: 2px;
	margin-top: 310px;

}

 .eight:hover{
 	background-color: hotpink;
 }


.addeight{
	width: 500px;
	height: 80px;
	background-color:floralwhite ;
	position: absolute;
	margin: 35px 10px 10px 90px ;
	border-style: solid;
	border-width: 2px;
}

 .addeight:hover{
 	background-color: brown;
 }


.addone{
	width: 200px;
	height: 40px;
	background-color:palegreen ;
	position: absolute;
	margin: 18px 290px 10px 30px ;
	border-style: solid;
	border-width: 2px;
}

 .addone:hover{
 	background-color: purple;
 }


.addtwo{
	width: 200px;
	height: 40px;
	background-color:palegreen ;
	position: absolute;
	margin: 18px 0px 10px 270px ;
	border-style: solid;
	border-width: 2px;
}

 .addtwo:hover{
 	background-color: peru;
 }



.nine{
	width: 50%;
	height: 25%;
	background-color: chocolate;
	position: absolute;
	right: 0;
	border-style: solid;
	border-width: 2px;
	margin-top: 310px;
}

 .nine:hover{
 	background-color: yellow;
 }


.addnine{
	width: 570px;
	height: 110px;
	background-color:floralwhite ;
	position: absolute;
	margin: 20px 10px 10px 70px ;
	border-style: solid;
	border-width: 2px;
}

 .addnine:hover{
 	background-color: maroon;
 }


.nineone{
	width: 510px;
	height: 75px;
	background-color:lightgreen ;
	position: absolute;
	margin: 18px 290px 18px 30px ;
	border-style: solid;
	border-width: 2px;
}

 .nineone:hover{
 	background-color: bisque;
 }


.ninetwo{
	width: 444px;
	height: 40px;
	background-color:gray ;
	position: absolute;
	margin: 18px 290px 10px 30px ;
	border-style: solid;
	border-width: 2px;
}

 .ninetwo:hover{
 	background-color: black;
 }




.ten{
	width: 100%;
	height: 25%;
	background-color:darkgray;
	position: absolute;
	border-style: solid;
	border-width: 2px;
	margin-top: 465px;

}

 .ten:hover{
 	background-color: orange;
 }


.tenone{
	width: 570px;
	height: 110px;
	background-color:floralwhite ;
	position: absolute;
	margin: 20px 10px 10px 70px ;
	border-style: solid;
	border-width: 2px;

} .tenone:hover{
 	background-color: navy;
 }



.onedouble{
	width: 444px;
	height: 70px;
	background-color:lightsalmon ;
	position: absolute;
	margin: 17px 290px 10px 57px ;
	border-style: solid;
	border-width: 2px;
} 

.onedouble:hover{
 	background-color: skyblue;
 }


.tentwo{
	width: 570px;
	height: 110px;
	background-color:floralwhite ;
	position: absolute;
	margin: 20px 10px 10px 720px ;
	border-style: solid;
	border-width: 2px;
}

 .tentwo:hover{
 	background-color: navy;
 }


.twodouble{
	width: 444px;
	height: 70px;
	background-color:lightsalmon ;
	position: absolute;
	margin: 17px 250px 10px 57px ;
	border-style: solid;
	border-width: 2px;
}

.twodouble:hover{
	background-color: skyblue;
}
