
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
	margin: 0; padding: 0;
	box-sizing: border-box;
	font-family: 'Titillium Web', sans-serif;
	/*background-color: lightcyan;*/
	align-items: center;
	justify-content: center;
	text-align: center;

}

header{
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: lightcyan;
}


.mainheader{
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;

}




.logo img {
	width: 250px; height: 80px;
	padding-left: 60px
	

}

.mainheader nav{
	width: 450px;
	display: flex;
	justify-content: space-around;
	align-items:center ;

}

.mainheader nav a{
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	

}
 
main{
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: lightsteelblue;
}

.left-sec h2{
	font-size: 20px;
	text-transform: capitalize;
	font-weight: 700;
	color: #242424;
	margin-left: 80px;
	margin-top: 200px;


}

.left-sec h1{
	font-size: 55px;
	text-transform: capitalize;
	font-weight: 700;
	margin-left: 50px;
	
}

.left-sec p{
	margin-left: 80px;
	font-weight: 600;
}

.left-sec button{
	padding: 10px 35px;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: #fff;
	border: none;
	background-color: blue;
	border-radius: 10px;
	margin-left: 80px;


}

.right-sec img{
	width: 300px;
	height: 300px;
	margin-left: 110px;
	margin-top: 40px;
	
}


.aboutus{
	text-align: center;
	color: blue;
}


.service{
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: 'poppins',  sans-serif;
}

.service .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.service .container .box{
	position: relative;
	width: 250px;
	height: 300px;
	background: #fff;
	box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
	border-radius: 4px;
	margin: 20px;
	box-sizing: border-box;
	overflow: hidden;
	text-align: center;
}

.service .container .box:before{
	content: '';
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255, 255, 255, .2);
	z-index: 2;
	pointer-events: none;
}

.service .container .box .icon{
	position: relative;
	width: 80px;
	height: 80px;
	color: black;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	border-radius: 50%;
	font-size: 40px;
	font-weight: 700;
	transition: 1s;

}
.service .container .box:nth-child(1) .icon{
	box-shadow: 0 0 0 0 #e91e63;
	background: #e91e63;

}

.service .container .box:nth-child(1):hover .icon {
	box-shadow: 0 0 0 400px #e91e63;
}

.service .container .box:nth-child(2) .icon{
	box-shadow: 0 0 0 0 green;
	background: green;

}

.service .container .box:nth-child(2):hover .icon{
	box-shadow: 0 0 0 400px green;
}

.service .container .box:nth-child(3) .icon{
	box-shadow: 0 0 0 0 #2196f3;
	background: #2196f3;

}

.service .container .box:nth-child(3):hover .icon{
	box-shadow: 0 0 0 400px #2196f3;
}

.service .container .box:nth-child(4) .icon{
	box-shadow: 0 0 0 0 lightcyan;
	background: lightcyan;

}

.service .container .box:nth-child(4):hover .icon {
	box-shadow: 0 0 0 400px lightcyan ;
}

.service .container .box .content{
	position: relative;
	z-index: 1;
	transition: 0.5s;

}

.service .container .box:hover .content{
	color: #fff;
}

.service .container .box .content h3{
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
}

.service .container .box .content p{
	margin:  0;
	padding: 0;
}

.service .container .box a{
	display: inline-block;
	padding: 10px 20px;
	background: goldenrod;
	border-radius: 4px;
	text-decoration: none;
	color: #000;
	font-weight: 500;
	margin-top: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2);

}

/*contact us section */
button{
	background-color: lightblue;
	width: 100px;
	font-family: sans-serif;
	font-weight: 600;
	font-style: italic;
	margin-bottom: 30px;
}

div.main{
	 width: 400px;
	 margin: 10px auto 0px auto;
}

h2{
	text-align: center;
	font-family: sans-serif;
	margin-top: 10px;
}

div.register{
	width: 100%;
	background-color: gray;
	font-family: sans-serif;
	font-size:12px ;
	box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.3);
	color:;

} 

form#register{
	margin: 15px;
}

label{
	font-family: sans-serif;
	font-size: 16px;
	font-style: italic;
}

#slider{
	overflow: hidden;
}

#slider figure{
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 10s slider infinite;
}

#slider figure img{
	width: 20%;
	float: left;
}

@keyframes slider{
	0%{
		left: 0;
	}

	20%{
		left: 0;
	}

	25%{
		left: -100%;
	}

	45%{
		left: -100%;
	}

	50%{
		left: -200%;
	}

	70%{
		left: -200%;
	}

	75%{
		left: -300%;
	}

	95%{
		left: -300%;
	}

	100%{
		left: -400%;
	}

}

.design article {
	background-color:lightsteelblue ;
}
.design aside{
	background-color: lightsteelblue;
}


.contactform article{
	background-color: lightsalmon;
}


